Raspberry pi Flow.json
[{"id":"c25e201a.55f7e","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"fd858840.22ba18","type":"rpi-sensehatsim in","z":"c25e201a.55f7e","name":"","motion":false,"env":true,"stick":false,"x":180,"y":780,"wires":[["594f907b.00c89"]]},{"id":"594f907b.00c89","type":"delay","z":"c25e201a.55f7e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440,"y":780,"wires":[["3344e6db.04022a"]]},{"id":"3344e6db.04022a","type":"function","z":"c25e201a.55f7e","name":"Env. Data","func":"msg.payload = {\"Data\" : {\"Environment\" : msg.payload}};\nmsg.deviceType = \"0.20.7\";\nmsg.deviceId =\"1234567\";\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":780,"wires":[["e42e2f67.54154","b21816e4.a21888"]]},{"id":"b21816e4.a21888","type":"ibmiot out","z":"c25e201a.55f7e","authentication":"apiKey","apiKey":"92e22e4b.1dde2","outputType":"evt","deviceId":"1234567","deviceType":"0.20.7","eventCommandType":"event","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":860,"y":860,"wires":[]},{"id":"e42e2f67.54154","type":"debug","z":"c25e201a.55f7e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":860,"y":800,"wires":[]},{"id":"34fee612.cda00a","type":"inject","z":"c25e201a.55f7e","name":"","topic":"","payload":"","payloadType":"str","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":100,"wires":[["6ee38b85.25efe4"]]},{"id":"55ef4ba6.9121a4","type":"function","z":"c25e201a.55f7e","name":"Format data","func":"msg.payload = { 'd' : { 'random' :  msg.payload }};\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":100,"wires":[["8027c8cb.88a978","704456fd.2a4408"]]},{"id":"8027c8cb.88a978","type":"debug","z":"c25e201a.55f7e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":100,"wires":[]},{"id":"6ee38b85.25efe4","type":"random","z":"c25e201a.55f7e","name":"","low":1,"high":10,"inte":"true","property":"payload","x":410,"y":100,"wires":[["55ef4ba6.9121a4"]]},{"id":"704456fd.2a4408","type":"ibmiot out","z":"c25e201a.55f7e","authentication":"apiKey","apiKey":"92e22e4b.1dde2","outputType":"evt","deviceId":"12345","deviceType":"0.20.7","eventCommandType":"event","format":"json","data":"format data","qos":0,"name":"IBM IoT","service":"registered","x":730,"y":320,"wires":[]},{"id":"367a51ac.57359e","type":"ibmiot in","z":"c25e201a.55f7e","authentication":"apiKey","apiKey":"92e22e4b.1dde2","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":500.5078125,"y":490.0234375,"wires":[["8a98f760.476a18"]]},{"id":"8a98f760.476a18","type":"debug","z":"c25e201a.55f7e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":740.5078125,"y":490.0234375,"wires":[]},{"id":"92e22e4b.1dde2","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"q3ly75.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false}]